td
{
    border: 2px solid black;
    
}
table {
    border-collapse: collaspse;
    width: 100%;
    background-color: white;

}
img { 
    width: 1em;
    height: 1em;

}
#titre_principal
{
    text-align: center;

}
body
{
    background-color: gray;
}
a:hover{
    color: orange;
    
}
img:hover{
    transform:scale(2);
}